<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhrc.exam.dao.IQuestionDao">
    <resultMap id="BaseResultMap" type="com.qhrc.exam.domain.Question">
        <id column="ques_id" property="quesId" jdbcType="INTEGER" />
        <result column="ques_title" property="quesTitle" jdbcType="VARCHAR" />
        <result column="ques_right_answer" property="quesRightAnswer" jdbcType="VARCHAR" />
        <result column="ques_type_id" property="quesTypeId" jdbcType="INTEGER" />
        <result column="ques_cate_id" property="quesCateId" jdbcType="INTEGER" />
        <result column="ques_type_name" property="quesTypeName" jdbcType="VARCHAR" />
        <result column="ques_cate_name" property="quesCateName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        q.ques_id, q.ques_title, q.ques_right_answer, q.ques_type_id, q.ques_cate_id, qt.ques_type_name, qc.ques_cate_name
    </sql>
    
    <select id="selectQuesByParmas" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question q, question_type qt, question_cate qc 
        where q.ques_type_id = qt.ques_type_id
		and q.ques_cate_id = qc.ques_cate_id
		and q.ques_status = 1
        <if test="quesTitle != null and quesTitle != ''">
        	and q.ques_title LIKE CONCAT('%',#{quesTitle},'%')
        </if> 
        
        <if test="quesTypeId != null and quesTypeId != 0">
        	and q.ques_type_id = #{quesTypeId}
        </if> 
        
        <if test="quesCateId != null and quesCateId != 0">
        	and q.ques_cate_id = #{quesCateId}
        </if> 
        	limit #{currIndex}, #{pageSize}
    </select>
    
</mapper>