<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qhrc.exam.dao.IQuestionTypeDao">
    <resultMap id="BaseResultMap" type="com.qhrc.exam.domain.QuestionType">
        <id column="ques_type_id" property="quesTypeId" jdbcType="INTEGER" />
        <result column="ques_type_name" property="quesTypeName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        ques_type_id, ques_type_name
    </sql>
    
    <select id="selectQuesType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question_type
    </select>
    
</mapper>